.home {
  display: flex;
  justify-content: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  background-color: rgb(129, 129, 206);
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.zoom {
  transition: transform 0.2s;
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  width: 50%;
}

.zoom:hover {
  transform: scale(1.05);
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
